@use "/src/styles.scss" as *;

mat-toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 24px;
  font-weight: bold;
  margin-left: 16px;
  cursor: default;
}

.menu-button {
  display: none;
}

.menu-items {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.menu-items a {
  display: block;
  padding: 8px 16px;
  font-size: 16px;
  text-decoration: none;
  color: $black;
  transition: all 0.2s ease-in-out;
}

.menu-items a:hover {
  color: $white;
  background-color: $black;
}

@media (max-width: 768px) {
  .logo {
    font-size: 20px;
    margin-left: 0;
  }

  .menu-button {
    display: block;
  }

  .menu-items {
    position: absolute;
    top: 56px;
    right: 0;
    background-color: $white;
    width: 100%;
    max-height: 0;
    overflow: hidden;
    transition: all 0.2s ease-in-out;
  }

  .menu-items.show {
    max-height: 200px;
  }

  .menu-items a {
    display: block;
    padding: 8px 16px;
    border-bottom: 1px solid #ccc;
    font-size: 16px;
  }
}

body.show-menu .menu-toggle {
  display: block;
}

@media screen and (min-width: 768px) {
  .menu-toggle {
    display: none;
  }
  .menu-button {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .menu-items {
    display: none;
  }

  body.show-menu .menu-items {
    display: block;
  }
}
