@use "/src/styles.scss" as *;

mat-toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $white;
}

.logo {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.logo-text {
  font-size: 24px;
  font-weight: bold;
  color: $black;
}

.menu-button {
  background-color: $white;
  color: $black;
}

.menu-items {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.menu-items a {
  display: block;
  padding: 8px 16px;
  font-size: 16px;
  text-decoration: none;
  color: $black;
  transition: all 0.2s ease-in-out;
}

.menu-items a:hover {
  color: $white;
  background-color: $black;
}

body.show-menu .menu-toggle {
  display: block;
}
