<mat-toolbar>
  <section class="logo">
    <button mat-icon-button color="primary" (click)="toggleMenu()">
      <mat-icon>menu</mat-icon>
    </button>
    <button mat-button class="logo-text" (click)="routes('/home')">
      Grow Bitacora Cannabis
    </button>
  </section>
  <div class="menu-items">
    <button mat-button color="primary" (click)="routes('/plant/register')">
      <span>Registro</span>
    </button>
    <button mat-button color="primary" (click)="routes('/plant')">
      <span>Plantas</span>
    </button>
    <button mat-icon-button color="primary" (click)="logout()">
      <mat-icon>logout</mat-icon>
    </button>
  </div>
</mat-toolbar>
