<div id="content-form">
  <h2>Registro de plantas de Cannabis</h2>
  <mat-card>
    <mat-card-content>
      <form [formGroup]="plantForm" (ngSubmit)="registerPlant()">
        <div class="content-input">
          <div class="subcontent">
            <mat-form-field>
              <mat-label>Nombre de la planta:</mat-label>
              <input matInput type="text" formControlName="name" required />
            </mat-form-field>
          </div>

          <div class="subcontent">
            <mat-form-field>
              <mat-label>Especie:</mat-label>
              <input matInput type="text" formControlName="species" required />
            </mat-form-field>
          </div>
        </div>

        <div class="content-input">
          <div class="subcontent">
            <mat-form-field>
              <mat-label>Fecha de siembra:</mat-label>
              <input
                matInput
                [matDatepicker]="picker"
                formControlName="birthDate"
                required
              />
              <mat-datepicker-toggle
                matIconSuffix
                [for]="picker"
              ></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
          </div>
        </div>

        <div class="content-input">
          <div class="subcontent">
            <label for="plant-image">Imagen:</label>
            <input
              id="plant-image"
              type="file"
              formControlName="image"
              (change)="onFileSelected($event)"
              accept="image/*"
              capture="environment"
            />
          </div>
          <div class="subcontent content-img" *ngIf="imagePreviewUrl">
            <img
              [src]="imagePreviewUrl"
              alt="Vista previa de la planta"
              style="max-width: 200px; margin-top: 10px"
            />
          </div>
        </div>

        <button
          mat-raised-button
          color="primary"
          type="submit"
          [disabled]="!plantForm.valid"
        >
          Guardar
        </button>
      </form>
    </mat-card-content>
  </mat-card>
</div>
