<div id="content-login">
  <div class="wrapper">
    <div class="form-wrapper sign-up">
      <form [formGroup]="signupForm" (ngSubmit)="onSubmitUp()" class="form">
        <h1>Bitacora Grow</h1>

        <mat-form-field appearance="outline">
          <mat-label>Nombre completo </mat-label>
          <input
            placeholder="Nombre completo"
            matInput
            formControlName="name"
            required
          />
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Email </mat-label>
          <input
            placeholder="Correo electronico"
            matInput
            formControlName="email"
            required
          />
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Contraseña</mat-label>
          <input
            placeholder="Contraseña"
            matInput
            type="password"
            formControlName="password"
            required
          />
        </mat-form-field>

        <button type="submit" [disabled]="!signupForm.valid">Registro</button>

        <div class="link">
          <button class="linkLogin" (click)="showLogin()">
            Iniciar sesión <mat-icon>keyboard_arrow_right</mat-icon>
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
