
<footer>
  <div class="footer-content">
    <div class="footer-section about">
      <h3>Acerca de Nosotros</h3>
      <p>Como familia apasionada por las planta de marihuana, comprometida con la sostenibilidad y el cuidado del medio ambiente.</p>
      <p>"Cultiva la naturaleza, cosecha la salud"</p>
      <p>"Cultiva tu propia felicidad"</p>
      <p>"La naturaleza es nuestra farmacia, cuidémosla"</p>
      <p>"Florece junto a la naturaleza" </p>
      <p>"Conecta con la Tierra y nutre tu cuerpo"</p>
    </div>
    <div class="footer-section contact">
      <h3>Contacto</h3>
        <ul>
          <li><i class="fas fa-envelope"></i> <span>growbitacora@gmail.com</span></li>
          <li><i class="fas fa-phone"></i> <span>55-7514-5523</span></li>
          <li><i class="fas fa-map-marker-alt"></i> <span>Ciudad de México, México</span></li>
        </ul>
    </div>
    <div class="footer-section social">
      <h3>Redes Sociales</h3>
        <ul>
          <li><a><i class="fab fa-facebook"></i> <span>Facebook</span></a></li>
          <li><a><i class="fab fa-twitter"></i> <span>Twitter</span></a></li>
          <li><a><i class="fab fa-instagram"></i> <span>Instagram</span></a></li>
        </ul>
    </div>
  </div>
  <div class="footer-bottom">
    &copy; 2023 Grow Bitacora Cannabis - All rights reserved.
  </div>
</footer>
