
<div class="dashboard-container">
  <h2>Mis Plantas</h2>
  <div class="card-container">
    <div class="card" *ngFor="let plant of plants">
      <mat-card>
        <img mat-card-image [src]="plant.image" alt="Foto de {{plant.name}}">
        <mat-card-header>
          <mat-card-title>{{ plant.name }}</mat-card-title>
          <mat-card-subtitle>{{ plant.type }}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <p>Fecha de siembra: {{ plant.datePlanted }}</p>
          <p>Fecha de cosecha: {{ plant.dateHarvested }}</p>
          <hr>
          <h4>Historial</h4>
          <ul>
            <li *ngFor="let item of plant.history">
              {{ item.date }} - {{ item.note }}
            </li>
          </ul>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
