.container-drawer {
  background-color: white;
}

#content-page {
  min-height: 100vh;
  width: 100%;
}

.list-item {
  width: 200px;
}

.list-item button {
  width: 100%;
  height: 50px;
  font-size: 20px;
}
