.container-drawer {
  background-color: white;
}

.sidenav-content {
  height: 100%;
  width: 100%;
}

.list-item {
  width: 200px;
}

.list-item button {
  width: 100%;
  height: 50px;
  font-size: 20px;
}
